# Android Studio/Java project files to ignore
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries

# Ignore OS-specific files like .DS_Store for macOS
.DS_Store

# Build output directories
/build
/captures

# Exclude external native build artifacts
.externalNativeBuild
